<odoo>
    <data>
        <!-- Top menu item -->
        <menuitem name="汽修管理" id="maintain_root" web_icon="fleet,static/description/icon.png"/>
        <!-- menu categories -->
        <menuitem name="订单管理" id="order_manage" parent="maintain_root"
                  sequence="1"/>
        <!-- actions -->
        <menuitem name="服务订单" id="service_order" parent="order_manage" action="maintain_order_window"
                  sequence="1"/>
    </data>
</odoo>